@import url("https://cdn.jsdelivr.net/npm/normalize.css@8");
@import url("https://cdn.jsdelivr.net/npm/github-markdown-css@5");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Nanum+Gothic:wght@400;700;800&family=family=Noto+Color+Emoji&display=swap");

.markdown-body {
  font-family: "Nanum Gothic", "Noto Color Emoji", sans-serif;
  --fontStack-monospace: "Nanum Gothic Coding", "Noto Color Emoji";
}

div.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  div.markdown-body {
    padding: 15px;
  }
}
